<!DOCTYPE html>
<html lang="en">
<head th:replace="~{dashboard :: #head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* Custom CSS for full-height and scrolling sections */
        .full-height {
            height: 100vh;
            overflow: hidden; /* Hide scrollbars */
        }

        .scrollable {
            height: 100%;
            overflow-y: auto; /* Enable vertical scrolling */
        }
    </style>
</head>
<body>
<nav th:replace="~{dashboard :: #navigation}">
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="nav bg-primary col-2 full-height scrollable">
            <div id="issues">
                <div th:each="issue : ${issues}">
                    <p th:text="${issue.title}"></p>
                </div>
            </div>
        </nav>
        <div class="bg-white col-10 full-height scrollable">

        </div>
    </div>
    <div th:insert="~{ dashboard :: #modalCreateIssue }"></div>
</div>
</body>
</html>
